@import "../../core/styles/colors";
@import "../../core/styles/variables";

.order-container {
  margin-top: 3rem;
  padding: 1rem 5rem;
  color: $secondary_color_white;
  &-form {
    &-title {
      margin: 1rem 0;
    }
  }
  @media screen and (min-width: $window_resize_max) {
    padding: 1rem 15rem;
  }
}
.collapse-straight-line {
  margin-top: 4rem;
  width: $collapse_straightline_width;
  background-color: $secondary_color_white;
  height: 1px;
  transform: rotate(110deg);
}
.order-form-checkbox-title {
  margin-bottom: 1rem;
}
