@import "../../core/styles/colors";
@import "../../core/styles/variables";

.orderTitle-container {
  overflow: hidden;
  position: absolute;
  width: $collapse_container_max_width;
  bottom: -30px;
  .collapse-container {
    display: flex;
    justify-content: center;
    height: 5rem;
    width: calc($collapse_container_min_width - 5rem);
    color: $primay_color_black;
    background-color: $secondary_color_white;
    &::after {
      background-color: $secondary_color_white;
    }
    @media screen and (min-width: $window_resize_max) {
      width: calc($collapse_container_min_width + 20rem);
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
  }
}
