// window resize variables
$window_resize_min: 1440px;
$window_resize_max: 1920px;

// navbar width & padding variables
$navbar_min_width: 75%;
$navbar_max_width: 90%;
$navbar_container_padding: 0.5rem;
$navbar_logo_width: 6rem;

//background image
$background_image_height: 60vh;

$collapse_container_min_width: 40rem;
$collapse_container_max_width: 70rem;

$collapse_straightline_width: 11rem;
